@{
    ViewData["Title"] = "Home Page";
}

<p>Localized string from View : @Localizer.GetString("Hello")</p>
<p>Localized string from Controller : @ViewData["ExpectedString"]</p>
<p>CurrentUICulture from View : @System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName</p>
<p>CurrentUICulture from Controller : @ViewData["ControllerCurrentUICulture"]</p>
